@import "fonts"
@import "libs"
@import "vars"

*, 
*:after, 
*:before
	box-sizing: border-box

input[type="search"] 
	box-sizing: border-box

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

a
	text-decoration: none 

ul,
p
	margin: 0
	padding: 0
ul
	list-style-type: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	-webkit-font-smoothing: antialiased;

.img-responsive
	display: block
	max-width: 100%
	height: auto

.container
	display: block
	margin: 0 auto
	padding: 0 20px
	max-width: 100%
	width: 1221px

.header 
	background: $background-color
	&__top
		display: flex
		flex-flow: row wrap
		position: relative
		min-height: 118px

	&__bottom
		border-top: 2px solid #606060

	&__logo
		width: 28%
		padding-top: 30px
		.logo
			display: block
			img
				max-width: 100%
				height: auto

	&__catalog
		position: relative
		width: 32%

	&__auth
		width: 40%
		display: flex
		flex-direction: column

.header__catalog-inner 
	position: absolute
	bottom: -2px
	left: 50%
	width: 274px
	transform: translateX(-50%);
	.share
		position: relative
		display: inline-block
		width: 60px
		padding-top: 0.5em
		padding-bottom: 0.5em
		padding-left: 67px
		padding-right: 50px
		font-family: $default-font
		font-weight: 300
		font-size: 14px
		color: #000
		text-decoration: none
		text-transform: uppercase
		background: #e5e5e5
		box-sizing: content-box
		&::before
			content: ""
			position: absolute
			left: 23px
			top: 5px
			width: 21px
			height: 21px
			background: url("../img/clock.png") no-repeat
			background-size: 21px 21px



	.ctlg 
		position: absolute
		bottom: 0px
		left: 131px
		display: inline-block
		vertical-align: baseline
		padding-top: 11px
		padding-right: 35px
		padding-bottom: 11px
		padding-left: 45px
		color: #ffffff
		font-family: $default-font
		font-weight: 300
		font-size: 14px
		background: $accent
		text-transform: uppercase
		text-decoration: none
		clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%)

.user-list 
	display: flex
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%
	margin-bottom: 20px
	padding-top: 18px
	color: #fff
	.user-list__schedule,
	.user-list__sign,
	.user-list__cart
		display: inline-block
		vertical-align: top

.user-list__schedule
	position: relative
	width: 188px
	// margin-right: 35px
	padding-left: 40px
	padding-right: 15px
	font-family: $second-font
	&::before
		content: ""
		position: absolute
		top: -3px
		left: 0px
		width: 30px
		height: 30px
		border-radius: 50%
		border: 1px solid $accent
		background: url("../img/phone.png") no-repeat
		background-position: center
	&::after 
		content: ""
		position: absolute
		right: 0px
		top: 0px
		width: 10px
		height: 6px
		background: url("../img/arrow.png") no-repeat
	span
		display: block
		font-size: 15px
	span:last-child
		font-size: 12px

.user-list__sign
	position: relative
	width: 85px
	// margin-right: 40px
	text-align: right
	padding-left: 35px

	a 
		display: block
		color: #fff
		font-size: 15px
		font-family: $second-font
		text-decoration: none

	&::before 
		content: ""
		position: absolute
		top: -3px
		left: 0px
		width: 30px
		height: 30px
		border-radius: 50%
		border: 1px solid $accent
		background: url("../img/human.png") no-repeat
		background-position: center
.user-list__cart
	position: relative
	width: 100px
	text-align: right
	padding-left: 35px
	a 
		display: block
		color: #fff
		font-size: 15px
		font-family: $second-font
		text-decoration: none
	&::before 
		content: ""
		position: absolute
		top: -3px
		left: 0px
		width: 30px
		height: 30px
		border-radius: 50%
		border: 1px solid $accent
		background: url("../img/busket.png") no-repeat
		background-position: center
	span 
		position: absolute
		display: block
		width: 16px
		height: 16px
		top: -9px
		left: 18px
		border-radius: 50%
		background: #fff
		color: #000
		font-family: $second-font
		font-size: 11px
		font-weight: 700
		line-height: 16px
		text-align: center

.search-form 
	position: relative
	margin-left: auto
	width: 222px
	&__input
		position: absolute
		top: 0
		right: 0
		border: 2px solid #606060
		outline: none
		background: none
		width: 100%
		height: 32px
		margin: 0
		z-index: 100
		padding: 8px 45px 8px 5px
		font-family: $second-font
		font-size: 12px
		font-weight: 600
		color: #fff
		// box-sizing: border-box
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
	&__submit
		position: absolute
		display: block
		height: 32px
		width: 32px
		margin: 0
		padding: 0
		right: 0
		top: 0
		z-index: 200
		border: none
		outline: none
		background: url("../img/icon_search.png") no-repeat
		background-position: center
		background-size: 13px 13px
		cursor: pointer


.menu__list
	display: flex
	flex-flow: row wrap
	.menu__item
		margin-right: 145px
		&:last-child
			margin-right: 0
	.menu__link
		display: block
		padding-top: 15px
		padding-bottom: 15px
		color: #fff
		font-family: $second-font
		font-weight: 300
		font-size: 14px
		text-transform: uppercase
		text-decoration: none
		transition: color 1000ms ease;
		&:hover 
			color: $accent

.product-cart__inner
	display: flex
	width: 1020px
	margin: 0 auto
	justify-content: space-between

.product-cart__left
	width: 511px

.product-cart__right
	width: 403px
.breadcrumbs
	margin-top: 25px
	margin-bottom: 35px
	font-family: $default-font
	font-weight: 300
	font-size: 0
	&__item
		position: relative
		margin-right: 9px
		display: inline-block
		a
			font-size: 12px
			text-decoration: none
			color: #000
			transition: color .3s ease-in-out
	&__item:nth-of-type(-n + 3) 
		a 
			color: $accent
			&:hover
				color: black
	&__item + &__item:before 
		content: "/\00a0"
		top: 0
		left: -6px
		position: absolute
		// padding: 0 2px
		color: black
		font-size: 12px


.slider
	position: relative
	display: flex
	justify-content: flex-start;
	&__items
		height: 530px
		padding: 35px 0
		margin-right: 10em

	&__item
		overflow: hidden
		margin-bottom: 1em
	&:before
		display: block
		position: absolute
		content: ''
		width: 21px
		height: 21px
		top: 0px
		left: 160px
		background-image: url("../img/clock.png")
		background-repeat: no-repeat
.slider__item--active
	img
		overflow: hidden
		width: 71px
	border: 1px solid $accent

.slider__prev,
.slider__next
	display: block
	position: absolute

.slider__prev
	top: 0
	left: 27px
	span.slider__icon
		display: block
		width: 23px
		height: 23px
		background-image: url("../img/arrow_prev.png") 
		background-repeat: no-repeat

.slider__next
	bottom: 130px
	left: 27px
	span.slider__icon
		display: block
		width: 23px
		height: 23px
		background-image: url("../img/arrow_nex.png") 
		background-repeat: no-repeat



.stock 
	position: relative
	display: block
	width: 175px
	margin-top: 15px
	margin-left: auto
	margin-bottom: 15px
	padding-top: 10px
	padding-bottom: 10px
	padding-left: 50px
	background-color: #e6e6e6
	&:before 
		content: ""
		position: absolute
		width: 28px
		height: 28px
		top: 10px
		left: 10px
		background-image: url("../img/clock2.png")
		background-repeat: no-repeat
		background-position: center
	span:first-child
		font-family: $default-font
		font-size: 12px
		font-weight: 100
		display: block
	span:last-child
		display: block
		font-family: $default-font
		font-size: 14px
		font-weight: 400
		color: $accent

.brand 
	position: relative
	padding-bottom: 20px
	border-bottom: 2px solid #dedede
.brand__title
	margin: 0 
	font-family: inherit
	font-weight: 300
	font-size: 25px
	color: $accent
	line-height: 1
.brand__desc
	font-family: inherit
	font-size: 18px
	font-weight: 100
	line-height: 1
.brand__price
	display: block
	font-family: inherit
	font-weight: 300
	font-size: 25px
	line-height: 2
	&--first
		color: #999999
		padding-right: 8px
		text-decoration: line-through
	&--second
		color: $accent
.brand__icon
	position: absolute
	right: 0
	bottom: 20px
	width: 50px
	height: 50px
	border-radius: 50%
	font-size: 16px
	text-align: center
	line-height: 50px
	color: #fff
	font-family: $second-font
	background-color: #828282

.color
	padding-top: 10px
	padding-bottom: 15px
	border-bottom: 2px solid #dedede
	
.color__text
	font-size: 14px
	margin-bottom: 10px
	span:first-child
		font-weight: 600
		padding-right: 2px
	span:last-child
		font-weight: 100
.color__list
	.color__item
		display: inline-block
		vertical-align: baseline
		width: 35px
		height: 35px
		margin-right: 5px

@for $i from 1 through length($colors)
	.color__list .color__item:nth-child(#{$i})
		background-color: nth($colors, $i)
.color__item--border
	border: 2px solid $accent
@import "media" // Всегда в конце
