doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title="One club"
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">   
		// Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#000")
		// Windows Phone 
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
	body
		.header
			.container
				.header__top
					.header__logo
						a(href="").logo 
							img(src="img/logo.png", alt="One club")
					.header__catalog
						.header__catalog-inner
							a(href="#").share Акции
							a(href="#").ctlg Каталог
					.header__auth
						.user-list 
							.user-list__schedule 
								span +380 44 359-08-99 
								span Пн-Вс: 9:00 - 21:00 
							.user-list__sign
								a(href="#") Войти
							.user-list__cart
								a(href="#") Корзина
								span 2
						form.search-form
							input(type="search" placeholder="Поиск...").search-form__input
							button(type="submit").search-form__button
			.header__bottom
				.container
					nav.menu
						ul.menu__list
							li.menu__item
								a(href="").menu__link женщинам 
							li.menu__item
								a(href="").menu__link мужчинам
							li.menu__item
								a(href="").menu__link детям
							li.menu__item
								a(href="").menu__link косметика
							li.menu__item
								a(href="").menu__link для дома
							li.menu__item
								a(href="").menu__link бренды
