doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title="One club"
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">   
		// Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#000")
		// Windows Phone 
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		link(rel="stylesheet" href="css/main.min.css")
		//- script(src="js/scripts.min.js")
	body
		.header
			.container
				.header__top
					.header__logo
						a(href="").logo 
							img(src="img/logo.png", alt="One club")
					.header__catalog
						.header__catalog-inner
							a(href="#").share Акции
							a(href="#").ctlg Каталог
					.header__auth
						.user-list 
							.user-list__schedule 
								span +380 44 359-08-99 
								span Пн-Вс: 9:00 - 21:00 
							.user-list__sign
								a(href="#") Войти
							.user-list__cart
								a(href="#") Корзина
								span 2
						form.search-form
							input(type="search" placeholder="Поиск...").search-form__input
							button(type="submit").search-form__submit 
			.header__bottom
				.container
					nav.menu
						ul.menu__list
							li.menu__item
								a(href="").menu__link женщинам 
							li.menu__item
								a(href="").menu__link мужчинам
							li.menu__item
								a(href="").menu__link детям
							li.menu__item
								a(href="").menu__link косметика
							li.menu__item
								a(href="").menu__link для дома
							li.menu__item
								a(href="").menu__link бренды
		.product-cart
			.container
				.product-cart__inner
					.product-cart__left
						ul.breadcrumbs
							li.breadcrumbs__item
								a(href="#") Главная страница
							li.breadcrumbs__item
								a(href="#") Каталог
							li.breadcrumbs__item
								a(href="#") Категория 1
							li.breadcrumbs__item
								a(href="#") Costa Patch Pocket Denim Top
						.slider
							a.slider__prev
								span.slider__icon
							a.slider__next
								span.slider__icon
							ul.slider__items
								li(onclick="currentDiv(1)").slider__item.slider__item--active
									img(src="img/clothes_sm4.png", alt="")
								li(onclick="currentDiv(2)").slider__item
									img(src="img/clothes_sm2.png", alt="")
								li(onclick="currentDiv(3)").slider__item
									img(src="img/clothes_sm3.png", alt="")
								li(onclick="currentDiv(4)").slider__item
									img(src="img/clothes_sm4.png", alt="")
							.slider__main
								img(class="slider__main-item" src="img/clothes_m.png", alt="Clothes")
								img(class="slider__main-item" src="img/sm-2.jpg", alt="Clothes")
								img(class="slider__main-item" src="img/sm-3.jpg", alt="Clothes")
								img(class="slider__main-item" src="img/sm-4.jpg", alt="Clothes")
					.product-cart__right
						.stock
							span До конца распродажи
							span 3 дня 15:37:01
						.brand
							h3.brand__title Current Elliot
							span.brand__desc Costa Patch Pocket Denim Top
							.brand__price
								span.brand__price--first 30 000 грн
								span.brand__price--second 15 000
							.brand__icon -50%
						.color
							.color__text
								span Цвет: 
								span Синий
							ul.color__list
								li.color__item
								li.color__item.color__item--border
								li.color__item
								li.color__item
								li.color__item
		script(src="js/scripts.min.js")




